/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sidebar
    {
        visibility: hidden;
    }

  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    .sidebar
    {
        visibility: hidden;
    }
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .sidebar
    {
        visibility: hidden;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sidebar
    {
        visibility: visible;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    .sidebar
    {
        visibility: visible;
    }
    
}